@model PROGESO.Models.Proveedores
@{
    //ViewBag.Title = "Crear Nuevo";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Tittle</h2>
<br />
</div>
<!-- Start header -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Ingresar Proveedores
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<h2 class="text-info"></h2>
<br />

@using (Html.BeginForm("Create", "Proveedores", FormMethod.Post))
{
    @*<div class="row">*@
    <div class="form-group-row">
        <div class="col-md-3">
            <div>

                <label for="ced_juridica">Ced_Juridica</label>
                @Html.TextBoxFor(d => d.ced_juridica, "", new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(d => d.ced_juridica, null, new { @class = "red" })

            </div>
            <div>

                <label for="nombre">Nombre</label>
                @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "red" })
            </div>


            <br />
            <!--<div class="col-6">
                <input value="Guardar" class="btn btn-primary" type="submit" />-->
            @*<a href="javascript:history.back()"> Volver Atrás</a>*@
            <!--<input type="button" onClick="history.back()" value="Volver Atrás">
            </div>-->


        </div>
    </div>
    <div class="col-md-5">

        @Html.Partial("_CreateAndBackToListButton")
    </div>
}
