@model PROGESO.Models.EncDepartamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Tittle</h2>
<br />
</div>
<!-- Start header -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Ingresar Encargado
                </h1>
            </div>
        </div>
    </div>
</div>
<h2 class="text-info"></h2>
<br />


@using (Html.BeginForm("Create", "EncDepartamento", FormMethod.Post))
{
    <div class="form-group-row">

        <div class="col-md-6">
            <div>
                <label for="Id">Id</label>
                @Html.TextBoxFor(d => d.Id, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id, null, new { @class = "red" })
            </div>


            @*<div class="form-group">*@
            <div>
                <label for="Correo">Correo</label>
                @Html.TextBoxFor(d => d.Correo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Correo, null, new { @class = "red" })
            </div>

            <div>
                <label for="Nombre">Nombre</label>
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>

            <div>
                <label for="Apellido1">Apellido1</label>
                @Html.TextBoxFor(d => d.Apellido1, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellido1, null, new { @class = "red" })
            </div>

            <div>
                <label for="Apellido2">Apellido2</label>
                @Html.TextBoxFor(d => d.Apellido2, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellido2, null, new { @class = "red" })
            </div>

            <div>
                <label for="Id">Departamento</label>
                <div class="col-md-12 col-sm-12">
                    @Html.DropDownList("DepartamentID", null, htmlAttributes: new { @class = "select2_single form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.DepartamentID, "", new { @class = "Text-danger" })
                </div>
            </div>

            <br />


        </div>
    </div>

    <div class="col-6">

        @Html.Partial("_CreateAndBackToListButton")
    </div>
}