@model PROGESO.Models.ProductoProveedor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Tittle</h2>
<br />
</div>
<!-- Start header -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Detalles de Compra
                </h1>
            </div>
        </div>
    </div>
</div>
<h2 class="text-info"></h2>
<br />

@using (Html.BeginForm("Details", "ProductoProveedor", FormMethod.Post))
{
    <div class="form-group-row">
        <div class="col-md-6">

            @Html.HiddenFor(d => d.cod_prod)

            <div>
                <label for="cod_prod">Cod Producto</label>
                @Html.TextBoxFor(d => d.Producto.descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Producto.descripcion, null, new { @class = "red" })
            </div>

            <div>
                <label for="ced_juridica">Ced_Juridica</label>
                @Html.TextBoxFor(d => d.Proveedores.nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Proveedores.nombre, null, new { @class = "red" })
            </div>

            <div>
                <label for="precio">Precio</label>
                @Html.TextBoxFor(d => d.precio, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.precio, null, new { @class = "red" })
            </div>

            <div>
                <label for="cantidad">Cantidad</label>
                @Html.TextBoxFor(d => d.cantidad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.cantidad, null, new { @class = "red" })
            </div>
            
            <div>
                <label for="FechaCompra">Fecha Compra</label>
                @Html.TextBoxFor(d => d.FechaCompra, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", placeholder = "Fecha de Compra" })
                @Html.ValidationMessageFor(d => d.FechaCompra, "", new { @class = "text-danger" })
            </div>

            <br />

        </div>


    </div>
    <div class="col-6">

        @Html.Partial("_BackButton")
    </div>
}
